body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}


.container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 120px;
}

.btn {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 40px solid black;
  background-color: transparent;
  margin: -100px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  border-color: red;
  top: 0;
  left: 0;
  border-top-left-radius: 100%;
  border-bottom: none;
  border-right: none;
}

.green {
  border-color: green;
  top: 0;
  right: 0;
  border-top-right-radius: 100%;
  border-bottom: none;
  border-left: none;
}

.blue {
  border-color: blue;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 100%;
  border-top: none;
  border-left: none;
}

.yellow {
  border-color: yellow;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 100%;
  border-top: none;
  border-right: none;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}