body {
    background-color: #252525;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
}

.left-menu {
    height: 100vh;
    width: 25%;

    background-color: #141414;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.song-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.song {
    display: grid;
    grid-template-columns: 50px auto 50px;
    align-items: center;
    gap: 10px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;

}

.song img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-title {
    font-size: 14px;
    margin: 0;
    color: white;
}

.author-name {
    font-size: 12px;
    margin: 0;
    color: #b3b3b3;
}

.duration {
    font-size: 14px;
    color: #b3b3b3;
    text-align: right;
}

.main-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.display-image {
    height: 400px;
    width: 400px;
    background-color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}

.song-duration {
    margin-top: 100px;
    background-color: whitesmoke;
    height: 10px;
    width: 800px;
    border-radius: 5px;
}

.navigation {
    display: flex;
    gap: 15px;
}
